<div style="display: flex; justify-content: center; align-items: center; height: 100vh; background-color: white;">
  <div style="border: 2px solid black; padding: 20px; width: 400px; text-align: center;">
    <p style="color: green"><%= notice %></p>
    <%= render @movie %>
    <div style="margin-top: 20px;">
      <%= link_to "Edit this movie", edit_movie_path(@movie) %> |
      <%= link_to "Back to movies", movies_path %> |
      <%= button_to "Destroy this movie", @movie, method: :delete %>
    </div>
  </div>
</div>